fastapi==0.115.0
uvicorn==0.30.6
sqlalchemy==2.0.35
alembic==1.13.2
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0
python-multipart==0.0.20
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.2.0
psycopg2-binary==2.9.9
pandas==2.2.3
numpy==2.0.2
httpx==0.28.1
